<%- include('partials/header') %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>YelpCamp grounds</h1>
      <p>View our hand-picked campgrounds from all over the world!</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new"
          >Add a new campground</a
        >
      </p>
    </div>
  </header>

    <div class="row">
        <% campgrounds.forEach(ground => { %>
            <div class="col-sm-6 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="<%= ground.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= ground.name %>
                        </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include('partials/footer') %>
